<div class="box-size-proper">
  <div class="row">
    <div class="col-sm-2 pt-2">
      <div *ngIf="sketches">
        <div (click)="onSketchEdit(idx)" class="text-center sketch {{sketch.status}}"  *ngFor="let sketch of sketches; let idx = index">
          <div class="row colours">
            <div class="col-sm-6 status {{sketch.status}}">
            </div>
            <div class="col-sm-6 edit" [ngClass]="{'true': sketch === selectedSketch}">
            </div>
          </div>
          <div class="info">
            <div class="text_center">
              id: {{idx+1}}
            </div>
            <div class="btn-group mr-2" role="group" aria-label="First group">
              <button *ngIf="sketch.status=='closed'" type="button" class="btn btn-secondary" (click)="activateSketch(idx)" > Activate </button>
              <button *ngIf="sketch.status=='active'" type="button" class="btn btn-secondary" (click)="stopSketch(idx)" > Stop </button>
            </div>
          </div>
        </div>
        <div class="sketch new-button text-center" (click)="newSketch()">
          New Sketch
        </div>
      </div>
    </div>
    <div class="col-sm-9 pt-2">
      <app-active-boards [boards]="boards"></app-active-boards>
      <div *ngIf="selectedSketch">
        <app-sketch-editor [sketch]="selectedSketch" ></app-sketch-editor>
      </div>
    </div>
  </div>
</div>
