ul
  padding-left: 5px
.sketch
  list-style-type: none
  margin-bottom: 10px
  border-radius: 5px
  position: relative

  .info
    padding: 10px
    border: 4px solid white
    border-radius: 10px
    &.active
      background-color: #81c784
      &.selected
        border: 4px solid #1b5e20
    &.closed
      background-color: #e57373
      &.selected
        border: 4px solid #b71c1c

  &.new-button
    padding: 10px
    cursor: pointer

  .removeButton
    border-radius: 7px
    border: 0px
    position: absolute
    right: -10px
    top: -10px
    cursor: pointer

.box-size-proper
  -webkit-box-sizing: border-box
  box-sizing: border-box
  -moz-box-sizing: border-box
