<div class="box-size-proper">
  <div class="row">
    <div class="col-sm-2 pt-2">
      <div *ngIf="sketches" class="sketchesBar">
        <div  class="text-center sketch {{sketch.status}}" *ngFor="let sketch of sketches; let idx = index">
          <button class="removeButton" name="button">
            <i class="fa fa-times" (click)="removeSketch(idx)" aria-hidden="true"></i>
          </button>
          <button class="marketplace-button remove-from-market" *ngIf="sketch.listed" (click)="removeFromMarket(idx)">
            <i class="fa fa-usd" aria-hidden="true"></i>
          </button>
          <button class="marketplace-button publish-to-market" *ngIf="!sketch.listed" (click)="publishToMarket(idx)">
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
          </button>
          <div (click)="onSketchEdit(idx)" class="info {{sketch.status}} {{sketch === selectedSketch ? 'selected' : ''}}">
            <div class="text_center">
              <app-click-to-edit [fieldValue]="sketch.getName()" [fieldName]="'Sketch name'" (nameUpdated)="onNameUpdated($event)"></app-click-to-edit>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="First group">
              <button *ngIf="sketch.status=='closed'" type="button" class="btn btn-secondary" (click)="activateSketch(idx)">
                Activate
              </button>
              <button *ngIf="sketch.status=='active'" type="button" class="btn btn-secondary" (click)="stopSketch(idx)">
                Stop
              </button>
            </div>
          </div>
        </div>
        <div class="sketch new-button text-center" (click)="newSketch()">
          New Sketch
        </div>
      </div>
    </div>
    <div class="col-sm-10 pt-2">
      <div *ngIf="selectedSketch">
        <app-sketch-editor [sketch]="selectedSketch" [links]="links"></app-sketch-editor>
      </div>
    </div>
  </div>
</div>
