ul
  padding-left: 5px

.sketchesBar
  padding: 10px 20px 20px 0px
  position: fixed
  overflow-y: auto
  height: 100%

.sketch
  border: 1px solid gray
  list-style-type: none
  margin-bottom: 10px
  border-radius: 5px
  position: relative

  .info
    padding: 5px 10px

  .colours
    position: absolute
    height: 100%
    width: 100%
    left: 15px
    z-index: -1

  .status
    &.active
      background-color: #81c784
    &.closed
      background-color: #e57373
  .edit
    &.true
      background-color: rgb(121, 134, 203)

  &.new-button
    padding: 10px
    cursor: pointer

  .removeButton
    border-radius: 7px
    border: 0px
    position: absolute
    right: -10px
    top: -10px
    cursor: pointer

.box-size-proper
  -webkit-box-sizing: border-box
  box-sizing: border-box
  -moz-box-sizing: border-box
