<div class="row">
  <div class="col-sm-3">
    <div *ngIf="sketches">
      <ul>
        <li class="sketch {{sketch.status}}"  *ngFor="let sketch of sketches; let idx = index">
          id: {{idx+1}}
          <button type="button" name="button" (click)="activateSketch(idx)" > Activate </button>
          <button type="button" name="button" (click)="stopSketch(idx)" > Stop </button>
          <!-- <select [(ngModel)]="sketch.status" (ngModelChange)="onStatusChange($event, idx)">
            <option *ngFor="let status of sketchTypes" [ngValue]="status">{{status}}</option>
          </select> -->

          <button type="button" name="button" (click)="onSketchEdit(idx)">Edit</button>
          <span *ngIf="sketch === selectedSketch">Editing</span>
        </li>
      </ul>
      <button type="button" name="button" (click)="newSketch()" >NewSketch</button>
    </div>
  </div>
  <div class="col-sm-9">
    <app-active-boards [boards]="boards"></app-active-boards>
    <div *ngIf="selectedSketch">
      <app-sketch-editor [sketch]="selectedSketch" ></app-sketch-editor>
    </div>
  </div>
</div>
