<div *ngIf="boards" class="">
  <div class="" *ngFor="let board of boards">
    <div class="board" [ngStyle]="{'background-color': board.colour}">
      <p>
        <span class="name">{{board.name}}</span>
      </p>
      <p>
        <span [class]="board.status">{{board.status}}</span>
      </p>
      <p class="text-center mac">{{board.mac}}</p>
      <p *ngIf="board.status === 'offline'" class="text-muted text-center activity">
        last active {{board.last_activity}}
      </p>
    </div>
  </div>
</div>
