<div *ngIf="boards" class="active-boards-container">
  <div *ngFor="let board of boards">
    <div class="board {{selectedBoard === board ? 'selected' : ''}}" [ngStyle]="{'background-color': board.colour}" (click)="onBoardSelected(board)" >
      <p>
        <span class="name">{{board.name}}</span>
      </p>
      <p>
        <span [class]="board.status">{{board.status}}</span>
      </p>
      <p class="text-center mac">{{board.mac}}</p>
      <p *ngIf="board.status === 'offline'" class="text-muted text-center activity">
        last active {{board.last_activity}}
      </p>
    </div>
  </div>
</div>
