.active-boards-container
  max-height: 600px
  overflow-y: scroll
.board
  border: 4px solid white
  border-radius: 10px
  padding: 5px 8px
  margin: 0 5px 25px 0
  &.selected
    border: 4px solid black
  &.used
    opacity: 0.5
.text-right
  text-align: right
.offline
  color: #b71c1c
.online
  color: #1b5e20
p
  margin-bottom: 5px
.activity
  font-size: 11px

.mac
  word-wrap: break-word
  font-size: 13px



// board animation
.board
  &.animate
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both
    transform: translate3d(0, 0, 0)
    backface-visibility: hidden
    perspective: 1000px
    &.used
      animation: none

@keyframes shake
  10%, 90%
    transform: translate3d(-1px, 0, 0)


  20%, 80%
    transform: translate3d(2px, 0, 0)


  30%, 50%, 70%
    transform: translate3d(-4px, 0, 0)


  40%, 60%
    transform: translate3d(4px, 0, 0)
