.board
  border: 1px solid gray
  border-radius: 4px
  padding: 5px 8px
  margin: 0 5px 25px 0
  width: 200px
  height: 100px
.text-right
  text-align: right
.offline
  color: #b71c1c
.online
  color: #1b5e20
p
  margin-bottom: 5px
.activity
  font-size: 11px

.mac
  word-wrap: break-word
  font-size: 13px
