.box-size-proper
  background-color: black

.navigation
  max-width: 331px
  margin-bottom: 1rem
  .nav-item a
    display: block
    padding: .5em 1em
    border: 1px solid transparent
    border-top-right-radius: .25rem
    border-top-left-radius: .25rem
    &.active
      color: #464a4c
      background-color: #fff
      border-color: #ddd #ddd #fff
