<div class="row">
  <div class="col-6 col-offset-2">
    <ul>
      <li *ngFor="let event of events">
        {{event}}
      </li>
    </ul>
  </div>
</div>
<div class="text-center">
  <button type="button" name="button" class="btn btn-success" (click)="activateOutput()">Output</button>
  <button type="button" name="button" class="btn btn-info" (click)="activateInput()">Input </button>
</div>
<div  *ngIf="input" class="">
  <app-laptop-input></app-laptop-input>
</div>

<div *ngIf="output">
  <app-laptop-output></app-laptop-output>
</div>
