<div class="row">
  <div *ngIf="sketch" class="col-sm-9">
    <button (click)="changeMode('Add')"> Add </button>
    <button (click)="changeMode('Delete')"> Delete </button>
    <button (click)="changeMode('Drag')"> Drag </button>
    <button (click)="changeMode('Select')"> Select </button>
    <button (click)="changeMode('Link')"> Link </button>
    <button (click)="changeMode('Save')"> Save </button>
    <div>{{operationMode}}</div>

    <app-drag-drop [sketch]="sketch" [operationMode]="operationMode" (onLinkSelected)="onLinkSelected($event)" (onLinkDeselected)="onLinkDeselected()" (onBoardSelected)="onBoardSelected($event)" (onBoardDeselected)="onBoardDeselected()"></app-drag-drop>
  </div>
  <div class="col-sm-3">
    <board-details [board]="selectedBoard" [link]="selectedLink"></board-details>
  </div>
</div>
