
<div class="row">
  <div *ngIf="sketchId" class="col-sm-9">
    <button (click)="changeMode('Add')"> Add </button>
    <button (click)="changeMode('Delete')"> Delete </button>
    <button (click)="changeMode('Drag')"> Drag </button>
    <button (click)="changeMode('Select')"> Select </button>
    <button (click)="changeMode('Link')"> Link </button>
    <button (click)="changeMode('Save')"> Save </button>
    <div>{{operationMode}}</div>
    <app-drag-drop [sketchId]="sketchId" [operationMode]="operationMode" (onSelected)="onSelected($event)" (onDeselected)="onDeselected()"></app-drag-drop>
  </div>
  <div class="col-sm-3">
    <div *ngIf="selected">
      <h2>{{selectedBoard.name}} details!</h2>
      <div>
        <label>type: </label>{{selectedBoard.type}}</div>
      <div>
        <label>subtype: </label>{{selectedBoard.subtype}}</div>
      <div>
        <label>name: </label>
        <input [(ngModel)]="selectedBoard.name" placeholder="name" />
      </div>
      <div>
        <label>mac: </label>
        <input [(ngModel)]="selectedBoard.mac" placeholder="mac" />
      </div>
      <div>
        <input type="checkbox" [(ngModel)]="selectedBoard.button" name="button" [value]="selectedBoard.button">
      </div>
  </div>
  </div>
</div>
