<div *ngIf="link" class="details">
  <h2>Link: </h2>
  <span>{{link.startBoard.getName()}}</span>
  <i class="fa fa-arrow-right" aria-hidden="true"></i>
  <span>{{link.endBoard.getName()}}</span>
  <span>
    <select (ngModelChange)="updateLink(link)" [(ngModel)]="link.logic" name="Logic Type" class="form-control">
      <option *ngFor="let option of link.getEndBoard().getBoardConfig().getAcceptedLinks()" [attr.value]="option.name">{{option.description}}</option>
    </select>
  </span>
  <div *ngIf="codeSnippets">
    <button (click)="toggle()" class="btn full btn-info mt-3 mb-2" type="button" name="button">{{showCode ? 'Hide' : 'Show Code'}}</button>
    <pre *ngIf="showCode">  {{renderCodeSnippet()}}</pre>
  </div>
</div>
<div *ngIf="board" class="details pb-3">
  <h2 class="text-center mb-0">Board </h2>
  <div class="text-center">
    ({{board.mac | truncate}})
  </div>
  <p>
    <label class="mb-0">Type:</label>
    <input [(ngModel)]="board.type" placeholder="type" class="form-control" />
  </p>
  <p>
    <label class="mb-0">Name:</label>
    <input [(ngModel)]="board.name" placeholder="name" class="form-control" />
  </p>
  <div *ngFor="let field of metadata" class="mb-1">
    <label class="mb-0">{{field}}:</label>
    <input [(ngModel)]="board.metadata[field]" class="form-control" >
  </div>
  <button type="button" name="button" (click)="updateBoard(board)" class="btn full btn-success">update</button>
</div>
