<div *ngIf="link" class="details">
  <h2>Link: </h2>
  <span>{{link.startBoard.getName()}}</span>
  <i class="fa fa-arrow-right" aria-hidden="true"></i>
  <span>{{link.endBoard.getName()}}</span>
  <span>
    <select [(ngModel)]="link.logic" name="Logic Type" class="form-control" (change)="onLinkTypeChange($event)">
      <option *ngFor="let option of link.getEndBoard().getBoardConfig().getAcceptedLinks()" [attr.value]="option.name">{{option.description}}</option>
    </select>
  </span>
  <div *ngIf="codeSnippets">
    <app-code-snippet [code]="code" [link]="link"></app-code-snippet>
  </div>
<!--   <pre *ngIf="codeSnippets">
  {{renderCodeSnippet()}}
  </pre> -->
  <button type="button" name="button" (click)="updateLink(link)" class="btn btn-success">update</button>
</div>
<div *ngIf="board" class="details">
  <h2>Board</h2>
  <span>
    <label>Type</label>
    <input [(ngModel)]="board.type" placeholder="type" class="form-control" />
  </span>
  <span>
    <label>Name</label>
    <input [(ngModel)]="board.name" placeholder="name" class="form-control" />
  </span>
  <span>
    {{board.mac}}
  </span>
  <button type="button" name="button" (click)="updateBoard(board)" class="btn btn-success">update</button>
</div>
