<div *ngIf="sketches" class="row">
  <div class="col-sm-6 offset-sm-3">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let sketch of sketches">
        <h3>
          {{sketch.id}}. {{sketch.name}}
        </h3>
        <p class="text-muted">
          {{sketch.description}}
        </p>
        <p>
          <b>Hardware</b>
          <span *ngFor="let board of sketch.getBoardConfigs()">
            {{board.name}}
          </span>
        </p>
      </li>
    </ul>
  </div>
</div>
